.drawer-List-Accordion {
  border-color: transparent;
  padding-top: 0;
}

.drawer-List-Accordion__AccordionSummary {
  padding-left: 0;
  margin-top: -16px;
  margin-bottom: -16px;
}

.drawer-List-Accordion__AccordionDetails {
  margin-top: -12px;
  margin-bottom: -12px;
  margin-left: -17px;
}

.container-AppBar {
  background: var(--White);
  box-shadow: 0px 0px 2px gray;
}

.container-AppBar-Toolbar__iconButton {
  margin-right: 1rem;
}

.container-AppBar-Toolbar__iconButton__MenuIcon {
  color: var(--Space);
}

.container-AppBar-Toolbar__Typography {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
  color: var(--Primary);
  margin-left: 12px;
}

.container-AppBar-Toolbar-Box {
  flex: 1;
}

.container-AppBar-Toolbar-Box-Box {
  flex-grow: 0;
}

.container-AppBar-Toolbar-Box-Box__IconButton {
  padding: 0;
}

.container-AppBar-Toolbar-Box-Box-Menu {
  margin-top: 45px;
}

@media only screen and (min-width: 600px) {
  .container-AppBar {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
  .container-AppBar-Toolbar__iconButton {
    display: none;
  }
  .container-Box {
    width: 240px;
    flex-shrink: 0;
  }
}
@media only screen and (min-width: 900px) {
  .container-AppBar-Toolbar__Typography {
    font-size: 21px;
  }
}
